<!-- Nav -->
	<nav id="nav">
		<ul>
      {% assign current = page.url | downcase | split: '/' %}
      <li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">首页</a></li>
      {% for category in site.data.cats.all %}
			<li>
        <a href="">{{ site.data.cats[category] }}</a>
        <ul>
        {% for post in site.categories[category] %}
          <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
			</li>
      {% endfor %}
		</ul>
	</nav>
