---
layout: default
title: 王福楠博士
subtitle: 高端試管嬰兒醫院
---

<!-- Header -->
			<div id="header">
        {% include nav.html %}
				<div class="container">

					<!-- Banner -->
          <div id="banner">
            <div class="container">
              <section>
                <header class="major">
                  <h2>王福楠博士</h2>
                  <span class="byline">高端試管嬰兒醫院</span>
                </header>
              </section>
            </div>
          </div>
				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row no-collapse-1">
            {% for post in site.categories.featured %}
            <section class="4u">
            <a href="{{ site.baseurl }}{{ post.url }}" class="image feature">
                <img src="{{ post.featured }}" alt="">
              </a>
              <p>{{ post.excerpt }}</p>
						</section>
            {% endfor %}
					</div>
				</section>
			</div>

	{{ content }}
